<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style1.css">
    <link rel="stylesheet" type="text/css" href="/CSS/footer.css">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="icon" href="/Picture/favicon.png" type="image/png">
    <!-- Font Awesome -->

    <style>
        section {
            /* max-width: 800px; */
            width: 100%;
            text-align: left;
            margin: auto;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
    </style>
</head>
<header>
    <a href="#" class="logo"><img src="/Picture/logo.png"></a>

    <ul class="navbar">
        <li><a href="homepage">Home</a></li>
        <li><a href="myBook">My books</a></li>
        <li><a href="selling">Selling</a></li>
        <li><a href="wallet">Wallet</a></li>
        <li><a href="about" class="home-active">About</a></li>
    </ul>

    <div class="shopping_cart" id="shoppingCart">
        <a href="cart" class="cart_link">
            <i class='bx bx-cart'></i>
            <span class="header_cart-notice" id="cartItemCount"></span>
        </a>
    </div>

    <div class="profile">
        <i class='bx bx-user'></i>
        <span>Profile</span>
        <i class='bx bx-caret-down'></i>

    </div>

    <div id="profileSpan">
        <h5 id="name"></h5>
        <h5 id="mail"></h5>
        <h5 id="balance"></h5>
        <li><a href="editProfile">Edit my profile</a></li>
        <li><a href="logOut">Log out</a></li>
    </div>

    <!-- Script for Profile -->
    <Script>
        var profileSpan = document.getElementById("profileSpan");

        var name = "<%=user.username%>";
        var mail = "<%=user.email%>";
        var balance = "<%= user.balance.toLocaleString('de-DE') %>";
        var nItems_in_cart = "<%=nItems_in_cart%>";

        document.getElementById("name").textContent = "UserName: " + name;
        document.getElementById("mail").textContent = "Email: " + mail;
        document.getElementById("balance").textContent = "Wallet: " + balance + " VND";

        // Update cart item count
        var cartItemCountElement = document.getElementById("cartItemCount");
        cartItemCountElement.textContent = nItems_in_cart;

        // Hide the notice if the total number of items is 0
        if (nItems_in_cart == 0) {
            cartItemCountElement.style.display = "none";
        }

        var profileClick = document.querySelector('.profile');
        profileClick.addEventListener('click', () => {
            profileSpan.classList.toggle('active');
        });
    </Script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Our Team Section</title>
</header>

<body>
    <section>

        <div class="responsive-container-block bigContainer">
            <div class="responsive-container-block Container">
                <img class="mainImg" src="/Picture/about_7.jpg">
                <div class="allText aboveText">
                    <p class="text-blk headingText">
                        About Us
                    </p>
                    <p class="text-blk subHeadingText">
                        Group 11 - Tiem Ban Nuoc
                    </p>
                    <p class="text-blk description">
                        We are a group of students from the University of Science, Ho Chi Minh City.
                        We are passionate about books and want to create a website where people can easily buy and sell
                        books.
                    </p>
                    <button class="explore">
                        Explore
                    </button>
                </div>
            </div>
            <div class="responsive-container-block Container bottomContainer">
                <img class="mainImg" src="/Picture/about_10.jpg">
                <div class="allText bottomText">
                    <p class="text-blk headingText">
                        Our Vision
                    </p>
                    <!-- <p class="text-blk subHeadingText">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p> -->
                    <p class="text-blk description">
                        We want to make Book Lovers envise a digital haven, uniting readers worldwide. Because of that
                        reason, we want to create a user-friendly platform where books are shared, bought, sold, and
                        rented effortlessly.
                        Moreover, we strive to cultivate a vibrant community, celebrating the joy of reading while
                        offering a secure and efficient marketplace for all book-related activities
                    </p>
                    <button class="explore">
                        Explore
                    </button>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <h1>Our Team</h1>
    </div>
    <div class="row">
        <!-- Column 1-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/Picture/profile22.jpg" />
                </div>
                <h3>Hoàng Đức Kiên</h3>
                <p>21127083</p>
                <div class="icons">
                    <a href="#">
                        <i class='bx bxl-instagram'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-linkedin-square'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-github'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-facebook-circle'></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Column 2-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/Picture/profile_hxk.jpg" />
                </div>
                <h3>Hoàng Xuân Khôi</h3>
                <p>21127322</p>
                <div class="icons">
                    <a href="https://www.instagram.com/khoi.hoangxuan.96/">
                        <i class='bx bxl-instagram'></i>
                    </a>
                    <a href="https://www.linkedin.com/in/kh%C3%B4i-ho%C3%A0ng-xu%C3%A2n-27a1122a3/">
                        <i class='bx bxl-linkedin-square'></i>
                    </a>
                    <a href="https://github.com/KhoiHoangXuan">
                        <i class='bx bxl-github'></i>
                    </a>
                    <a href="https://www.facebook.com/khoi.hoangxuan.96">
                        <i class='bx bxl-facebook-circle'></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Column 3-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/Picture/profile_tdp.jpg" />
                </div>
                <h3>Tăng Đức Phong</h3>
                <p>21127388</p>
                <div class="icons">
                    <a href="#">
                        <i class='bx bxl-instagram'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-linkedin-square'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-github'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-facebook-circle'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Column 4-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/Picture/profile3.jpg" />
                </div>
                <h3>Nguyễn Cao Sơn</h3>
                <p>21127159</p>
                <div class="icons">
                    <a href="#">
                        <i class='bx bxl-instagram'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-linkedin-square'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-github'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-facebook-circle'></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Column 5-->
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/Picture/profile4.jpg" />
                </div>
                <h3>Võ Thanh Hiệp</h3>
                <p>21127275</p>
                <div class="icons">
                    <a href="#">
                        <i class='bx bxl-instagram'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-linkedin-square'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-github'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-facebook-circle'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>
    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Book<span>Lovers</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">My books</a>
                |
                <a href="#">Selling</a>
                |
                <a href="#">Wallet</a>
                |
                <a href="#">About</a>
            </p>

            <p class="footer-company-name">Copyright © 2023 <strong>BOOKLOVERS</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span> 227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh </span>
                    Việt Nam</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>0901321679</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="booklovers.reply@gmail.com">booklovers.reply@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                <strong>Book Lovers</strong> is a website where you can find and buy books easily and quickly.
                It creates a user-friendly and secure web platform dedicated to book-related
                activities.
                Users will have the ability to share their books with others, buy new or used books, sell their own
                books, and even rent titles.
                The platform's purpose is to foster a vibrant community of readers while providing a convenient and
                efficient marketplace for book transactions.
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>

</body>

</html>