<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style1.css">
    <link rel="stylesheet" type="text/css" href="/CSS/style2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="icon" href="/Picture/favicon.png" type="image/png">
</head>
<header>
    <a href="#" class="logo"><img src="/Picture/logo.png"></a>

    <ul class="navbar">
        <h3>Admin page</h3>
    </ul>

    <div class="profile">
        <i class='bx bx-user'></i>
        <span>Profile</span>
        <i class='bx bx-caret-down'></i>

    </div>

    <div id="profileSpan">
        <h5 id="name">Admin</h5>
        <h5 id="mail">admin@gmail.com</h5>
        <li><a href="homepage">Home page</a></li>
        <li><a href="logOut">Log out</a></li>
    </div>

    <script>
        var profileClick = document.querySelector('.profile');
        profileClick.addEventListener('click', () => {
            profileSpan.classList.toggle('active');
        });
    </script>
</header>

<body>
    <div class="reportSite" id="reportSite">
    </div>

        <script>
            function decodeHtml(html) {
                var txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            }
            var n = "<%=reportlist.length%>";
            if (n != 0) {
                var reportlist = "<%= JSON.stringify(reportlist) %>";
                reportlist = decodeHtml(reportlist);
                reportlist = JSON.parse(reportlist);
            }
            var ID_Report = [];
            var ReportedUser = [];
            var ReportedBook = [];
            var Reporter = [];
            var reason = "Cuốn sách này đã thổi bay giấc mộng đại học của tôi";
            // var status = "Remaining";
            for (var i = 0; i < n; i++) {
                ID_Report.push(reportlist[i].id_report);
                Reporter.push(reportlist[i].rusername);
                ReportedUser.push(reportlist[i].reporteduser);
                ReportedBook.push(reportlist[i].rbook);
            }

            var reportSite = document.getElementById("reportSite");

            for (var i = 0; i < n; i++) {
                // Create oneReport div
                var oneReport = document.createElement("div");
                oneReport.className = "oneReport";

                // Report info
                var reportInfo = document.createElement("div");
                reportInfo.className = "reportInfo";

                var idReport = document.createElement("h3");
                idReport.id = "idReport";
                idReport.textContent = "ID_Report: " + ID_Report[i];

                var reporteduser = document.createElement("h3");
                reporteduser.id = "reporteduser";
                reporteduser.textContent = "Reported User: " + ReportedUser[i];

                var linkBook = document.createElement("a");
                linkBook.href = "book/" + ReportedBook[i];

                var idBook = document.createElement("h3");
                idBook.id = "idBook";
                idBook.textContent = "ID_Book: " + ReportedBook[i];
                linkBook.appendChild(idBook);

                var reporter = document.createElement("h3");
                reporter.id = "reporter";
                reporter.textContent = "Reporter: " + Reporter[i];

                reportInfo.appendChild(idReport);
                reportInfo.appendChild(reporteduser);
                reportInfo.appendChild(linkBook);
                reportInfo.appendChild(reporter);

                // Reason
                var reasonDiv = document.createElement("div");
                reasonDiv.className = "reason";

                var reasonP = document.createElement("p");
                reasonP.id = "reason";

                var reasonS = document.createElement("strong");
                reasonS.textContent = "Reason: ";
                reasonP.appendChild(reasonS);

                reasonDiv.appendChild(reasonP);
                reasonP.textContent = reason;

                // Report action
                var reportAction = document.createElement("div");
                reportAction.className = "reportAction";

                // var statusP = document.createElement("h3");
                // statusP.id = "status";
                // statusP.textContent = "Status: " + status;
                // reportAction.appendChild(statusP);

                var action = document.createElement("div");
                action.className = "action";

                var label = document.createElement("p");
                // label.htmlFor = "actionChoices";
                label.textContent = "Action: ";

                var actionChoices = document.createElement("div");
                actionChoices.className = "actionChoices";
                // actionChoices.id = "actionChoices";

                var op1 = document.createElement("button");
                op1.type = "submit";
                op1.className = "ban";
                op1.textContent = "Ban";

                var op2 = document.createElement("button");
                op2.type = "submit";
                op2.className = "dismiss";
                op2.textContent = "Dismiss";

                actionChoices.appendChild(op1);
                actionChoices.appendChild(op2);

                var link = document.createElement("a");
                link.href = "admin?Choice=ban" + "&RUsername=" + Reporter[i] + "&ReportedUser=" + ReportedUser[i] + "&RBook=" + ReportedBook[i];

                var button = document.createElement("button");
                button.type = "submit";
                button.className = "button";
                button.textContent = "Confirm";

                link.append(button);

                action.appendChild(label);
                action.appendChild(actionChoices);
                action.appendChild(link);
                reportAction.appendChild(action);

                // Add to one report
                oneReport.appendChild(reportInfo);
                oneReport.appendChild(reasonDiv);
                oneReport.appendChild(reportAction);

                // Add to report site
                reportSite.appendChild(oneReport);
            }
            document.body.appendChild(reportSite);
        </script>

    </div>
</body>

</html>