<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Cancelled</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style1.css">
    <link rel="icon" href="/Picture/favicon.png" type="image/png">
</head>
<body>
    <div class="main-box">
        <h4 class="payment-title">Payment Cancelled</h4>
        <p>If you have any question, please mail to <a href="booklovers.reply@gmail.com">booklovers.reply@gmail.com</a></p>
        <a href="/wallet" id="return-page-btn">Back to Wallet Page</a>
    </div>
</body>
</html>