<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>Forgot Password</title> 
        <link rel="stylesheet" type="text/css" href="/CSS/style.css">
        <script src="../Script/script.js" defer></script>
    </head>

    <div class="forgot">
        <div class="wrapper">
            <form action="">
                <h1>Your email</h1>

                <div class="email">
                    <input type="email" placeholder="Enter your registered email" id="email_Forgot" required>
                </div>

                <h1>Recover your password</h1>

                <div class="pass">
                    <input type="password" placeholder="New password" id="pass1_Forgot" required>
                </div>
    
                <div class="pass">
                    <input type="password" placeholder="Confirm password" id="pass2_Forgot" required>
                </div>

                <button type="button" class="resetBut" onclick="checkForgot()">
                    Reset password
                </button>


            </form>

        </div>
    </div>