<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>Book Lovers</title> 
        <link rel="stylesheet" type="text/css" href="/CSS/style.css">
        <link rel="stylesheet" href="/CSS/footer.css">
    </head>

    <div class="projName">
        <div class="word">
            <h1>Book Lovers</h1>
            <h2>A place for Book Lovers</h2>
        </div>
    </div>

    <div class="loginSite">
        <div class="wrapper">

            <form action="/login-user" method = "post">
                <h1>Login</h1> 
    
                <div class="inputBox">
                    <input type="username" placeholder="Username" id="username_Login" name="username" required>
                </div> 
    
                <div class="inputBox">
                    <input type="password" placeholder="Password" id="pass_Login" name="password" required>
                </div>
    
                <div class="remember">
                    <label><input type="checkbox"> Remember me</label>
                    <a href="/forgotPass"> Forgot your password?</a>
                </div>
    
                <button type="submit" class="loginBut">
                    Login
                </button>
    
                <div class="register">
                    <p>Create an account? <a href="/signUp">Sign up</a> </p>
                    
                </div>

                
            </form>
            <% if(message.length > 0) { %>  
                <div class="alert alert-success" role="alert">
                    <p id="mess"> </p>
                    <script>
                        var mess = document.getElementById("mess");
                        mess.textContent = "<%= message %>";
                    </script>
                </div>    
            <% } %>
        </div>
        

    </div>
    <%- include('footer.ejs') %>
</html>