<!DOCTYPE html>
<html lang = "en"> 
    <head>
        <meta charset="UTF8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>Sign up</title> 
        <link rel="stylesheet" type="text/css" href="/CSS/style.css">
        <link rel="icon" href="/Picture/favicon.png" type="image/png">
    </head>

    <div class="reg">
        <div class="wrapper">
            <form action="/create-user" method = "post">
                <h1>Sign Up</h1>

                <div class="signUp">
                    <input type="text" placeholder="Username" id="uname_SignUp" name = "username" required>
                </div>

                <div class="signUp">
                    <input type="email" placeholder="Email" id="email_SignUp"  name = "email" required>
                </div>

                <div class="signUp">
                    <input type="password" placeholder="Create password" id="pass1_SignUp" name = "password"required>
                </div>

                <div class="signUp">
                    <input type="password" placeholder="Confirm password" id="pass2_SignUp" name = "repassword" required>
                </div>
                
                <div class="login">
                    <p>Already have an account? <a href="/login">Login</a></p>
                </div>
                
                <button type="submit" class="signUpBut">
                    Sign up
                </button>
                <% if(message.length > 0) { %>  
                    <div class="alert alert-success" role="alert">
                        <p id="mess"> </p>
                        <script>
                            var mess = document.getElementById("mess");
                            mess.textContent = "<%= message %>";
                        </script>
                    </div>    
                <% } %>
            </form>
        </div>
    </div>
</html>