<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Upload Book</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style1.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="icon" href="/Picture/favicon.png" type="image/png">
</head>
<header>
    <a href="#" class="logo"><img src="/Picture/logo.png"></a>

    <ul class="navbar">
        <li><a href="homepage">Home</a></li>
        <li><a href="myBook">My books</a></li>
        <li><a href="selling">Selling</a></li>
        <li><a href="wallet">Wallet</a></li>
        <li><a href="about">About</a></li>
    </ul>
    <div class="shopping_cart">
        <a href="cart"><i class='bx bx-cart'></i></a>
    </div>
    <div class="profile">
        <i class='bx bx-user'></i>
        <span>Profile</span>
        <i class='bx bx-caret-down'></i>
    </div>

    <div id="profileSpan">
        <h5 id="name"></h5>
        <h5 id="mail"></h5>
        <h5 id="balance"></h5>
        <li><a href="editProfile">Edit my profile</a></li>
        <li><a href="logOut">Log out</a></li>
    </div>

    <!-- Script for Profile -->
    <Script>
        var profileSpan = document.getElementById("profileSpan");
        var name = "<%= user.username %>";
        var mail = "<%= user.email %>";
        var balance = "<%= user.balance %>";

        document.getElementById("name").textContent = "UserName: " + name;
        document.getElementById("mail").textContent = "Email: " + mail;
        document.getElementById("balance").textContent = "Wallet: " + balance + " VND";

        var profileClick = document.querySelector('.profile');
        profileClick.addEventListener('click', () => {
            profileSpan.classList.toggle('active');
        });
    </Script>

</header>

<div class="uploadBook" id="uploadBook">
    <div class="wrapper">
        <form id="uploadForm" method="post" action="/uploadSelling" enctype="multipart/form-data">
            <h1>Upload a Book</h1>

            <div class="infoUpload">
                <label>Name Book:</label>
                <input type="text" id="nameBook" name="nameBook" required>
            </div>

            <div class="infoUpload">
                <label>Author:</label>
                <input type="text" id="author" name="author" required>
            </div>

            <div class="infoUpload">
                <label>Price:</label>
                <input type="text" id="price" name="price" required>
            </div>
            <div class="infoUpload">
                <label>Description:</label>
                <textarea id="description" name="description" required> </textarea>
            </div>

            <div class="infoUpload">
                <label>Published Year:</label>
                <input type="date" id="publishedYear" name="publishedYear" required>
            </div>

            <div class="infoUpload">
                <label>Upload book cover:</label>
                <input type="file" name="bcover_pic" required accept=".png, .jpeg, .jpg">
            </div>

            <div class="infoUpload">
                <label>Upload PDF file:</label>
                <input type="file" name="pdf_book" required accept=".pdf">
            </div>

            <button type="submit" class="uploadBut" disabled>Upload Book</button>
        </form>
    </div>
</div>

<script>
    const bcoverPicInput = document.querySelector('input[name="bcover_pic"]');
    const pdfBookInput = document.querySelector('input[name="pdf_book"]');
    const submitButton = document.querySelector('button[type="submit"]');
    
    function checkImageTypes(files) {
        const validImageMimeTypes = ['image/png', 'image/jpeg', 'image/jpg'];
        return validImageMimeTypes.includes(files[0].type); // Check the first (and only) file's type
    }

    function checkPdfType(files) {
        return files[0].type === 'application/pdf'; // Check the first (and only) file's type
    }

    function validateAndEnableButton() {
        // Check if both fields have valid files and file types
        const hasValidCoverPic =
            bcoverPicInput.files &&
            bcoverPicInput.files.length > 0 &&
            checkImageTypes(bcoverPicInput.files);
        const hasValidPdfBook =
            pdfBookInput.files &&
            pdfBookInput.files.length > 0 &&
            checkPdfType(pdfBookInput.files);
        submitButton.disabled = !(hasValidCoverPic && hasValidPdfBook);
    }

    bcoverPicInput.addEventListener('change', (event) => {
        validateAndEnableButton();
    });

    pdfBookInput.addEventListener('change', (event) => {
        validateAndEnableButton();
    });
</script>


</div>

<footer class="footer-distributed">

    <div class="footer-left">
        <h3>Book<span>Lovers</span></h3>

        <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="#">My books</a>
            |
            <a href="#">Selling</a>
            |
            <a href="#">Wallet</a>
            |
            <a href="#">About</a>
        </p>

        <p class="footer-company-name">Copyright © 2023 <strong>BOOKLOVERS</strong> All rights reserved</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span> 227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh </span>
                Việt Nam</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>0901321679</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="booklovers.reply@gmail.com">booklovers.reply@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            <strong>Book Lovers</strong> is a website where you can find and buy books easily and quickly.
            It creates a user-friendly and secure web platform dedicated to book-related
            activities.
            Users will have the ability to share their books with others, buy new or used books, sell their own
            books, and even rent titles.
            The platform's purpose is to foster a vibrant community of readers while providing a convenient and
            efficient marketplace for book transactions.
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer>


</html>