




/* Styles for books container */
#booksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: flex-start; */
    margin: 20px 0; 
}

/* Styles for individual book container */
.bookContainer {
    width: 200px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Styles for book content */
.book {
    position: relative;
}

/* Styles for book image */
.book img {
    width: 100%;
    height: 250px;
    border-bottom: 2px solid #ddd;
}

/* Styles for book description */
.description {
    padding: 10px;
}

/* Styles for book title */
.description span {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Styles for book author */
.description h5 {
    font-size: 14px;
    margin-bottom: 10px;
    color: grey;
}

/* Styles for book price */
.description h4 {
    font-size: 16px;
    color: #f00;
    margin-top: 10px;
    
}

/* Hover effect on book container */
.bookContainer:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
/* button upload */
#uploadBtn {
    position: absolute;
    right: 50px;
    bottom: 100px;
}

/* Thêm CSS cho popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
