.navbar
{
    display: flex;
    column-gap: 00.5rem;
}

.navbar a
{
    display: flex;
    column-gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.navbar a:hover, .navbar .home-active
{
    background: white;
    color: #141A46;
    border-radius: 20px;
    transition: background 0.5s;
}

.navbar a:hover, .navbar .about-active
{
    background: white;
    color: #141A46;
    border-radius: 20px;
    transition: background 0.5s;
}

/* Logo */

.logo img {
    width: 100px;
    height: auto;
}

/*  */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

img
{
    width: 100%;
}

body
{
    color:black;
}

header
{
    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #141A46;
    padding: 20px 100px;
    transition: 0.5s;
    box-shadow: 0px 8px 11px rgb(14 55 54 / 15%);
}

body
{
    background-color: #efefef;
}


.profile 
{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    color: white;
}

.profile img
{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 20%;
}

.profile span
{
    font-size: 20px;
    font-weight: 500;
}

.profile .bx-caret-down
/* ----------------- */
{
    cursor: pointer;
}

#profileSpan
{
    width: 250px;
    height: 70px;
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 10px;
    border-color: black;
    right: 5%;
    top: 70%;
    text-align: center;
    background-color: white;
    color: #001933;
    font-size: 22px;
    font-weight: lighter;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#profileSpan.active
{
    display: block;
}
