*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../Picture/bg5.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

/* Login page */

.projName
{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: transparent;
    padding: 300px 50px 300px 0px;
    
    color: #0e0e2e;
}

.projName .word
{
    transform: translateY(-50%);
    /* transform: translateX(-25%); */
}

.projName h1
{
    font-size: 70px;
    text-align: center;
    /* color: #0e0e2e; */
    
}

.projName h2
{
    font-size: 30px;
    text-align: center;
    /* color: #0e0e2e; */
}

.loginSite
{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    background: transparent;
    padding: 45px 10px 45px 300px;
}

.loginSite .wrapper
{
    width: 420px;
    background: transparent;
    color: #0e0e2e;
    border-radius: 10px;
    padding: 30px 30px;
    border: 2px solid #141A46;
}

.wrapper h1
{
    font-size: 36px;
    text-align: center;
}

.wrapper .inputBox
{
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
}

.inputBox input
{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #0e0e2e;
    border-radius: 20px;
    font-size: 16px;
    color: #0e0e2e;
    padding: 20px 45px 20px 10px;
}

.inputBox input::placeholder
{
    color: #0e0e2e;
}

.wrapper .remember
{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin: -20 0 20;
    padding-bottom: 20px;
}

.remember a
{
    color: #0e0e2e;
    text-decoration: none;
}

.remember a:hover
{
    background-color: #0e0e2e;
    color: white;
    border-radius: 10px;
}

.loginSite .wrapper .loginBut
{
    width: 100%;
    height: 45px;
    /* background: #0e0e2e; */
    border: none;
    outline: none;
    border-radius: 40px;
    /* box-shadow: 0 0 5px black; */
    font-size: 20px;
    color: white;
    background: #0e0e2e;
    font-weight: 600;
}

.loginSite .wrapper .loginBut:hover
{
    background: white;
    color: #0e0e2e;
}

.wrapper .register
{
    font-size: 18px;
    text-align: center;
    margin: 15px 0 15px;
}

.register p a 
{
    color: #0e0e2e;
    font-weight: 600;
    text-decoration: none;
}

.register p a:hover
{
    background-color: #0e0e2e;
    color: white;
    border-radius: 10px;
}


/* forgot pass page */

.forgot
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent;
}

.forgot .wrapper
{
    width: 420px;
    background: transparent;
    color: #0e0e2e;
    border-radius: 10px;
    padding: 30px 30px;
    border: 2px solid #0e0e2e;
}

.forgot .wrapper h1
{
    font-size: 30px;
    text-align: center;
}

.wrapper .unameforgot
{
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
}

.unameforgot input
{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #0e0e2e;
    border-radius: 20px;
    font-size: 16px;
    color: #0e0e2e;
    padding: 20px 45px 20px 10px;
}

.unameforgot input::placeholder
{
    color: #0e0e2e;
}

.wrapper .pass
{
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
}

.pass input
{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #0e0e2e;
    border-radius: 20px;
    font-size: 16px;
    color: #0e0e2e;
    padding: 20px 45px 20px 10px;
}

.pass input::placeholder
{
    color: #0e0e2e;
}

.wrapper .resetBut
{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    /* box-shadow: 0 0 5px black; */
    font-size: 20px;
    background: #0e0e2e;
    color: white;
    font-weight: 600;
}

.wrapper .resetBut:hover
{
    color: #0e0e2e;
    background: white;
}

.alert-success
{
    
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #ff1515;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.alert-success p
{
    font-style: italic;
    font-weight:900;
    text-align: center;
    /* color:#0e4bf1; */
}

/* sign up page */

.reg
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent;
}

.reg .wrapper
{
    width: 420px;
    height: 550px;
    background: transparent;
    color: #0e0e2e;
    border-radius: 10px;
    padding: 30px 30px;
    border: 2px solid #0e0e2e;
}

.reg .wrapper h1
{
    font-size: 30px;
    text-align: center;
}

.wrapper .signUp
{
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
}

.signUp input
{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #0e0e2e;
    border-radius: 20px;
    font-size: 16px;
    color: #0e0e2e;
    padding: 20px 45px 20px 10px;
}

.signUp input::placeholder
{
    color: #0e0e2e;
}

.wrapper .signUpBut
{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    /* box-shadow: 0 0 5px black; */
    font-size: 20px;
    background: #0e0e2e;
    color: white;
    font-weight: 600;
}

.wrapper .signUpBut:hover
{
    color: #0e0e2e;
    background: white;
}

.wrapper .login
{
    color: #0e0e2e;
    padding-bottom: 20px;
    text-align: center;
}

.wrapper .login a
{
    color: #0e0e2e;
    text-decoration: none;
}

.wrapper .login a:hover
{
    background-color: #0e0e2e;
    color: white;
    border-radius: 10px;
}



/* OTP page */

.otp
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent;
}

.otp .wrapper
{
    width: 420px;
    height: 250px;
    background: transparent;
    color: #0e0e2e;
    border-radius: 10px;
    padding: 30px 30px;
    border: 2px solid #0e0e2e;
}

.otp .wrapper h1
{
    font-size: 30px;
    text-align: center;
}

.otp .wrapper h3
{
    font-size: 20px;
    text-align: center;
}

form .inputOTP
{
    flex-direction: row;
    column-gap: 10px;
    text-align: center;
    /* height: fit-content; */
    /* margin-top: 10px; */
    margin-bottom: 10px;
}

.inputOTP input
{
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
}



.inputOTP input:focus
{
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.inputOTP input::-webkit-inner-spin-button, .inputOTP input::-webkit-outer-spin-button
{
    display: none;
}

.otp .wrapper
{
    height: auto;
}


.otp .wrapper form button 
{
    margin-top: 5px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    padding: 9px 0;
    cursor: pointer;
    border-radius: 6px;
    pointer-events: none;
    background: #6e93f7;
    transition: all 0.2s ease;
    /* margin-bottom: 0%; */
}

.otp .wrapper form button.getOTP
{
    background: #0e0e2e;
    pointer-events: auto;
}

.otp .wrapper form button:hover
{
    color: #0e0e2e;
    background: white;
}


.otp .wrapper form button:disabled
{
    display: none;
    pointer-events: none;
}

.otp .wrapper #timerText
{
    size: 30px;
}