* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

body {
    color: black;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #141A46;
    padding: 20px 100px;
    transition: 0.5s;
    box-shadow: 0px 8px 11px rgb(14 55 54 / 15%);
}

body {
    background-color: #efefef;
}

.logo img {
    width: 100px;
    height: auto;
}

.profile {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    color: white;
}

.profile img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 20%;
}

.profile span {
    font-size: 20px;
    font-weight: 500;
}

.profile .bx-caret-down {
    cursor: pointer;
}

#profileSpan {
    width: 350px;
    height: fit-content;
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 10px;
    border-color: black;
    right: 7%;
    top: 70%;
    text-align: left;
    background-color: white;
    color: #001933;
    font-size: 22px;
    font-weight: lighter;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#profileSpan.active {
    display: block;
}

#profileSpan h5 {
    margin-left: 3%;
}

#profileSpan a {
    text-decoration: none;
    color: #001933;
    font-size: 18px;
    /* font-weight: lighter; */
    margin-left: 3%;
}

#profileSpan a:hover {
    background-color: #001933;
    color: white;
    /* border-radius: 10px; */
    /* width: fit-content; */
    /* height: auto; */
}

/* ------------------ */

.navbar {
    display: flex;
    column-gap: 00.5rem;
}

.navbar a {
    display: flex;
    column-gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.navbar a:hover,
.navbar .home-active {
    background: white;
    color: #141A46;
    border-radius: 20px;
    transition: background 0.5s;
}

.navbar a:hover,
.navbar .active {
    background: white;
    color: #141A46;
    border-radius: 20px;
    transition: background 0.5s;
}

/* --- Home page ---  */
#intro {
    background-image: url("../Picture/homepage.jpg");
    position: relative;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#intro h4 {
    padding-bottom: 15px;
    font-size: 50px;
}

#intro h3 {
    padding-bottom: 20px;
    font-size: 70px;
}

#intro h5 {
    padding-bottom: 20px;
    font-size: 20px;
}

#product {
    text-align: center;
}

#product .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px 0 12px;
    border: 1px solid grey;
    border-radius: 7%;
    cursor: pointer;
    /* box-shadow: 20px 20px 30px darkgray; */
    margin: 20px 50px 0 50px;
    transition: 0.2s ease;
    position: relative;
    background-color: white;
}

#product .productContainer {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    flex-wrap: wrap;
    /* align-items: flex-start; */
}

.productContainer .product_cont {
    padding: 12px 14px;
    margin: 20px 10px 20px 10px;
    width: 23%;
    min-width: 250px;
    position: relative;
    flex-wrap: wrap;
}

#product h2 {
    color: #1a1a1a;
    font-size: 50px;
    padding-top: 30px;
}

#product p {
    color: #1a1a1a;
    font-size: 20px;
    padding-top: 20px;
}

#product .pro:hover {
    box-shadow: 10px 10px 20px darkgray;
}

#product #pro .description {
    text-align: start;
    padding: 10px 0;
}

#product .pro .description span {
    color: black;
    /* font-size:; */
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#product .pro .description h5 {
    padding-top: 7px;
    color: grey;
    font-size: 14px;
    text-align: left;
}

#product .pro h4 {
    padding-top: 7px;
    color: #000099;
    font-size: 25px;
    text-align: left;
}

#product .pro img {
    width: 180px;
    height: 250px;
    border-radius: 5%;
    margin-bottom: 10px;
    align-items: center;
    border: 1px solid grey;
}

#product .pro .cart {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background-color: #0b0b80;
    font-weight: 750;
    color: white;
    border: 1px solid black;
    position: absolute;
    bottom: 8px;
    right: 10px;
}

/* --- Wallet page ---  */

.miniNavbar {
    position: absolute;
    /* width: 100%; */
    /* top: 0;
    right: 0; */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    margin-top: 20px;
    transition: 0.5s;
    box-shadow: 0px 8px 11px rgb(14 55 54 / 15%);
    border: 1px solid #141A46;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.miniNavbar a {
    text-align: center;
    display: flex;
    column-gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.mainWallet {
    background: url('../Picture/card.jpg');
    position: absolute;
    justify-content: center;
    display: flex;
    top: 180px;
    margin-top: 50px;
    padding: 20px 20px;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translateY(150px); */
    border: 1px solid #141A46;
    border-radius: 20px;
    height: 330px;
    width: 510px;
}

.mainWallet .balance {
    text-align: left;
    /* margin-right: 20px; */
    /* padding: 10px; */
    margin-left: 10px;
    width: 100%;
    color: #F2F0F1;
}

.mainWallet .balance .infoWallet {
    transform: translateY(30%);
}

.mainWallet .balance h2 {
    font-size: 40px;
}

.mainWallet .balance h1 {
    font-size: 70px;
}

.mainWallet .balance h3 {
    font-size: 25px;
}

.deposit {
    background: url('../Picture/withdraw.jpg');
    position: absolute;
    justify-content: center;
    /* display: flex; */
    top: 180px;
    margin-top: 400px;
    padding: 20px 20px;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translateY(150px); */
    border: 1px solid #141A46;
    border-radius: 20px;
    height: 330px;
    width: 510px;
}

.deposit .infoDepo {
    text-align: left;
    /* margin-right: 20px; */
    /* padding: 10px; */
    margin-left: 10px;
    width: 100%;
    color: #080a52;
}

.deposit .infoDepo h2 {
    font-size: 40px;
}

.deposit img {
    width: 200px;
    height: auto;
    /* align-items: center; */
    /* padding-left: 50px; */
    /* margin-left: px; */
    margin-top: 10px;
    left: 50%;
    transform: translateX(70%);
}

.deposit .subInfoDepo {
    text-align: center;
    /* margin-right: 20px; */
    /* padding: 10px; */
    margin-top: 10px;
    width: 100%;
    color: #080a52;
}


.deposit .subInfoDepo h4 {
    font-size: 20px;
}

.withdraw {
    background: url('../Picture/depo.jpg');
    position: absolute;
    justify-content: center;
    display: flex;
    top: 180px;
    margin-top: 750px;
    padding: 20px 20px;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translateY(150px); */
    border: 1px solid #141A46;
    border-radius: 20px;
    height: 330px;
    width: 510px;
}

.withdraw .withd {
    text-align: left;
    /* margin-right: 20px; */
    /* padding: 10px; */
    margin-left: 10px;
    width: 100%;
    color: #080a52;
}

.withdraw .withd .infoWi {
    text-align: center;
    margin-top: 20px;
}

.withdraw .withd h2 {
    font-size: 40px;
}

.withdraw .infoWi h3 {
    font-size: 20px;
}

.withdraw .infoWi h4 {
    font-size: 15px;
}

.withdraw .infoWi input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #080a52;
    border-radius: 20px;
    font-size: 30px;
    color: #080a52;
    padding: 20px 45px 20px 10px;
}

.withdraw .infoWi .info {
    text-align: left;
    margin-top: 20px;
}

.withdraw .infoWi input::placeholder {
    font-size: 30px;
    /* text-align: center; */
    color: #080a52;

}

.withdraw .butWi {
    width: 50%;
    height: 35px;
    background: #080a52;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 5px black;
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-top: 10px;
}

.withdraw .butWi:hover {
    box-shadow: 0 0 10px #080a52;
}

.history {
    background: url('../Picture/history.jpg');
    position: absolute;
    justify-content: center;
    display: flex;
    top: 180px;
    margin-top: 1100px;
    padding: 20px 20px;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translateY(150px); */
    border: 1px solid #141A46;
    border-radius: 20px;
    height: 330px;
    width: 510px;
}

.history .infoHis {
    text-align: left;
    margin-left: 10px;
    width: 100%;
    color: #ACA53D;
}

.history h2 {
    font-size: 40px;
}

/* --- editFile page --- */
.edit {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent;
}

.edit .wrapper {
    width: 420px;
    height: 550px;
    background: transparent;
    color: #141A46;
    border-radius: 10px;
    padding: 30px 30px;
    border: 2px solid #141A46;
}

.edit .wrapper h1 {
    font-size: 30px;
    text-align: center;
}

.edit .wrapper .infoEdit {
    width: 100%;
    /* height: 50px; */
    background: transparent;
    margin: 30px 0;
}

.edit .wrapper input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #141A46;
    border-radius: 20px;
    font-size: 20px;
    color: #141A46;
    padding: 20px 45px 20px 10px;
}

.edit .wrapper input::placeholder {
    color: #141A46;
    font-size: 18px;
}

/* uploadBook page */
.uploadBook {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent;
}

.uploadBook .wrapper {
    width: 420px;
    background: transparent;
    color: #141A46;
    border-radius: 10px;
    padding: 30px 30px;
    border: 2px solid #141A46;
}

.uploadBook .wrapper h1 {
    font-size: 30px;
    text-align: center;
}

.uploadBook .wrapper .infoUpload {
    width: 100%;
    background: transparent;
    margin: 30px 0;
}

.uploadBook .wrapper input {
    width: 100%;
    height: 50px;
    background: transparent;
    outline: none;
    border: 2px solid #141A46;
    border-radius: 20px;
    font-size: 20px;
    color: #141A46;
    padding: 20px 45px 20px 10px;
}

#thumbnailInput {
    border: none;
    /* width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; */
}

#thumbnailInput+label {
    font-size: 1.25em;
    font-weight: 700;
    color: #141A46;
    background-color: white;
    display: inline-block;
    cursor: pointer;
}

#thumbnailInput:focus+label,
#thumbnailInput+label:hover {
    background-color: #141A46;
    color: white;
}

.uploadBook .wrapper input::placeholder {
    color: #141A46;
    font-size: 18px;
}

.uploadBook .wrapper textarea {
    width: 100%;
    height: 100px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #141A46;
    border-radius: 20px;
    font-size: 20px;
    color: #141A46;
    padding: 20px 45px 20px 10px;
}