.navbar
{
    background: transparent;
    color: white;
}

.reportSite
{
    margin: 50px 50px;
    /* border: 2px solid rgb(26, 26, 26); */
}

.oneReport
{
    border: 5px solid rgb(26, 26, 26);
    margin-bottom: 30px;
    /* background: white; */
}

.oneReport .reportInfo
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 100px;
    padding: 10px 0;
    border-bottom: 2px solid rgb(26, 26, 26);
}

.oneReport .reportInfo a
{
    text-decoration: none;
    color: #141A46;
}

.oneReport .reportInfo a:hover
{
    text-decoration: underline;
}

.oneReport .reason
{
    margin: 10px 100px;
    padding: 10px 0;
    border-bottom: 2px solid rgb(26, 26, 26);
}

.oneReport .reportAction
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 10px 100px; */
    padding: 10px 500px;
}


/* .action label
{
    font-weight: bold;
} */

.action
{
    position: flex;
    display: flex;
    line-height: 1.5;
}

.action p
{
    font-size: 20px;
}

.action::after
{
    position: absolute;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.action:hover:after
{
    color: #0e0e2e;
}

.action button
{
    border: 1px solid rgb(26, 26, 26);
    border-radius: 10px;
    font-size: 18px;
    height: 100%;
    width: 100px;
    color: #0e0e2e;
    background: white;
}

.actionChoices
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px;
    padding: 0px 30px;
}

.actionChoices button 
{
    border: 1px solid rgb(26, 26, 26);
    border-radius: 10px;
    font-size: 18px;
    height: 30px;
    width: 100px;
    color: #0e0e2e;
    background: white;
    margin: 0 10px;
}

.action button:hover {
    color: white;
    background: #001c44;
    cursor: pointer;
}