*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

img
{
    width: 100%;
}

body
{
    color:black;
}

header
{
    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #141A46;
    padding: 20px 100px;
    transition: 0.5s;
    box-shadow: 0px 8px 11px rgb(14 55 54 / 15%);
}

body
{
    background-color: #efefef;
}
.logo img {
    width: 100px;
    height: auto;
}

.profile 
{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    color: white;
}

.profile img
{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 20%;
}

.profile span
{
    font-size: 20px;
    font-weight: 500;
}

.profile .bx-caret-down
/* ----------------- */
{
    cursor: pointer;
}

#profileSpan
{
    width: 250px;
    height: 70px;
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 10px;
    border-color: black;
    right: 5%;
    top: 70%;
    text-align: center;
    background-color: white;
    color: #001933;
    font-size: 22px;
    font-weight: lighter;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#profileSpan.active
{
    display: block;
}

/* ------------------ */

.navbar
{
    display: flex;
    column-gap: 00.5rem;
}

.navbar a
{
    display: flex;
    column-gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.navbar a:hover, .navbar .home-active
{
    background: white;
    color: #141A46;
    border-radius: 20px;
    transition: background 0.5s;
}

.navbar a:hover, .navbar .about-active
{
    background: white;
    color: #141A46;
    border-radius: 20px;
    transition: background 0.5s;
}

/* Home page  */
#intro
{
    background-image: url("../Picture/img3.jpg");
    position: relative;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding:  0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#intro h4 
{
    padding-bottom: 15px;
}

#intro h3
{
    padding-bottom: 20px;
}

#product
{
    text-align: center;
}

#product .pro
{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid grey;
    border-radius: 7%;
    cursor: pointer;
    box-shadow: 20px 20px 30px darkgray;
    margin: 20px 50px 0 50px;
    transition: 0.2s ease;
    position: relative;
}

#product .productContainer 
{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product h2
{
    color: #1a1a1a;
    font-size: 50px;
    padding-top: 30px;
}

#product p
{
    color: #1a1a1a;
    font-size: 20px;
    padding-top: 20px;
}

#product .pro:hover
{
    box-shadow: 10px 10px 20px #ccffff;
}

#product .pro .description
{
    text-align: start;
    padding: 10px 0;
}

#product .pro .description span
{
    color: black;
    /* font-size:; */
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#product .pro .description h5
{
    padding-top: 7px;
    color: grey;
    font-size: 14px;
}

#product .pro h4
{
    padding-top: 7px;
    color: #000099;
    font-size: 25px;
    text-align: left;
}

#product .pro img
{
    width: 180px;
    height: 250px;
    border-radius: 5%;
    margin-bottom: 10px;
    align-items: center;
}

#product .pro .cart
{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #00cccc;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* Wallet page  */

.miniNavbar
{
    position:absolute;
    /* width: 100%; */
    /* top: 0;
    right: 0; */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    margin-top: 20px;
    transition: 0.5s;
    box-shadow: 0px 8px 11px rgb(14 55 54 / 15%);
    border: 2px solid #141A46;
    left: 50%;
    transform: translateX(-50%);
}

.miniNavbar a
{
    text-align: center;
    display: flex;
    column-gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
