* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    /* scrollbar-width: 2px; */
}

*::-webkit-scrollbar {
    display: none;
    /* width: 5px; */
}

*::-webkit-scrollbar-thumb {
    background: #141A46;
}

img {
    width: 100%;
}

/* body 
{
    color: #141A46;
} */

header {
    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #141A46;
    padding: 20px 100px;
    transition: 0.5s;
    box-shadow: 0px 8px 11px rgb(14 55 54 / 15%);
}

body {
    background-color: #fdfdfe;
}

.logo img {
    width: 100px;
    height: auto;
}

.profile {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    color: white;
}

.profile img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 20%;
}

.profile span {
    font-size: 20px;
    font-weight: 500;
}

.profile .bx-caret-down {
    cursor: pointer;
}

#profileSpan {
    width: 350px;
    height: fit-content;
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 10px;
    border-color: black;
    right: 7%;
    top: 70%;
    text-align: left;
    background-color: white;
    color: #001933;
    font-size: 22px;
    font-weight: lighter;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#profileSpan.active {
    display: block;
}

#profileSpan h5 {
    margin-left: 3%;
}

#profileSpan a {
    text-decoration: none;
    color: #001933;
    font-size: 18px;
    /* font-weight: lighter; */
    margin-left: 3%;
}

#profileSpan a:hover {
    background-color: #001933;
    color: white;
    /* border-radius: 10px; */
    /* width: fit-content; */
    /* height: auto; */
}

/* ------------------ */

.navbar {
    display: flex;
    column-gap: 00.5rem;
}

.navbar a {
    display: flex;
    column-gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.navbar a:hover,
.navbar .home-active {
    background: white;
    color: #141A46;
    border-radius: 20px;
    transition: background 0.5s;
}

.navbar a:hover,
.navbar .active {
    background: white;
    color: #141A46;
    border-radius: 20px;
    transition: background 0.5s;
}

/* --- Home page ---  */
#intro {
    background-image: url("../Picture/bg6.jpg");
    position: relative;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0px 450px;
    display: flex;
    flex-direction: column;

}

/* #intro .introInfo {
    margin-top: 60px;
    align-items: center;
    justify-content: center;
} */

#intro h4 {
    /* padding-bottom: 40px; */
    font-size: 60px;
}

#intro h3 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 60px;
}

#intro h5 {
    padding-bottom: 500px;
    font-size: 30px;
}

#product {
    text-align: center;
}

#product .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px 0 12px;
    border: 3px solid rgb(200, 198, 198);
    border-radius: 7%;
    cursor: pointer;
    /* box-shadow: 20px 20px 30px darkgray; */
    margin: 20px 50px 0 50px;
    transition: 0.2s ease;
    position: relative;
    background-color: rgb(255, 255, 255);
}

#product .productContainer {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    flex-wrap: wrap;
    /* align-items: flex-start; */
}

.productContainer .product_cont {
    padding: 12px 14px;
    margin: 20px 10px 20px 10px;
    width: 23%;
    min-width: 250px;
    position: relative;
    flex-wrap: wrap;
}

#product h2 {
    color: #1a1a1a;
    font-size: 50px;
    padding-top: 30px;
}

#product p {
    color: #1a1a1a;
    font-size: 20px;
    padding-top: 20px;
}

#product .pro:hover {
    box-shadow: 10px 10px 20px darkgray;
}

#product #pro .description {
    text-align: start;
    padding: 10px 0;
}

#product .pro .description span {
    color: black;
    /* font-size:; */
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#product .pro .description h5 {
    padding-top: 7px;
    color: grey;
    font-size: 14px;
    text-align: left;
}

#product .pro h4 {
    padding-top: 7px;
    color: #000099;
    font-size: 25px;
    text-align: left;
}

#product .pro img {
    width: 180px;
    height: 250px;
    border-radius: 5%;
    margin-bottom: 10px;
    align-items: center;
    border: 1.5px solid rgb(200, 198, 198);
}

#product a {
    color: #0e0e2e;
    text-decoration: none;
}



/* #product .pro .cart {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background-color: #0b0b80;
    font-weight: 750;
    color: white;
    border: 1px solid black;
    position: absolute;
    bottom: 8px;
    right: 10px;
} */

/* --- Wallet page ---  */

#infoWalletPage {
    /* position: relative; */
    height: 100vh;
    width: 100%;
    /* background-size: cover;
    background-position: top 25% right 0; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.miniNavbar {
    position: absolute;
    /* width: 100%; */
    top: 170px;
    /* right: 0; */
    /* z-index: 1000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    /* margin-top: 20px; */
    /* padding-top: 20px; */
    transition: 0.5s;
    box-shadow: 0px 8px 11px rgb(14 55 54 / 15%);
    border: 1px solid #141A46;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.miniNavbar a {
    text-align: center;
    display: flex;
    column-gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.mainWallet {
    background: url('../Picture/card.jpg');
    position: absolute;
    justify-content: center;
    display: flex;
    top: 180px;
    margin-top: 50px;
    padding: 20px 20px;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translateY(150px); */
    border: 1px solid #141A46;
    border-radius: 20px;
    height: 330px;
    width: 510px;
}

.mainWallet .balance {
    text-align: left;
    /* margin-right: 20px; */
    /* padding: 10px; */
    margin-left: 10px;
    width: 100%;
    color: #F2F0F1;
}

.mainWallet .balance .infoWallet {
    transform: translateY(30%);
}

.mainWallet .balance h2 {
    font-size: 40px;
}

.mainWallet .balance h1 {
    font-size: 70px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mainWallet .balance h3 {
    font-size: 25px;
}

.deposit {
    background: url('../Picture/withdraw.jpg');
    position: absolute;
    justify-content: center;
    /* display: flex; */
    top: 180px;
    margin-top: 400px;
    padding: 20px 20px;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translateY(150px); */
    border: 1px solid #141A46;
    border-radius: 20px;
    height: 330px;
    width: 510px;
}

.deposit .infoDepo {
    text-align: left;
    /* margin-right: 20px; */
    /* padding: 10px; */
    margin-left: 10px;
    width: 100%;
    color: #080a52;
}

.deposit .infoDepo h2 {
    font-size: 40px;
}

.deposit img {
    width: 200px;
    height: auto;
    /* align-items: center; */
    /* padding-left: 50px; */
    /* margin-left: px; */
    margin-top: 10px;
    left: 50%;
    transform: translateX(70%);
}

.deposit .subInfoDepo {
    text-align: center;
    /* margin-right: 20px; */
    /* padding: 10px; */
    margin-top: 10px;
    width: 100%;
    color: #080a52;
}


.deposit .subInfoDepo h4 {
    font-size: 20px;
}

.withdraw {
    background: url('../Picture/depo.jpg');
    position: absolute;
    justify-content: center;
    display: flex;
    top: 180px;
    margin-top: 750px;
    padding: 20px 20px;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translateY(150px); */
    border: 1px solid #141A46;
    border-radius: 20px;
    height: 330px;
    width: 510px;
}

.withdraw .withd {
    text-align: left;
    /* margin-right: 20px; */
    /* padding: 10px; */
    margin-left: 10px;
    width: 100%;
    color: #080a52;
}

.withdraw .withd .infoWi {
    text-align: center;
    margin-top: 20px;
}

.withdraw .withd h2 {
    font-size: 40px;
}

.withdraw .infoWi h3 {
    font-size: 20px;
}

.withdraw .infoWi h4 {
    font-size: 15px;
}

.withdraw .infoWi input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #080a52;
    border-radius: 20px;
    font-size: 30px;
    color: #080a52;
    padding: 20px 45px 20px 10px;
}

.withdraw .infoWi .info {
    text-align: left;
    margin-top: 20px;
}

.withdraw .infoWi input::placeholder {
    font-size: 30px;
    /* text-align: center; */
    color: #080a52;

}

.withdraw .butWi {
    width: 50%;
    height: 35px;
    background: #080a52;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 5px black;
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-top: 10px;
}

.withdraw .butWi:hover {
    box-shadow: 0 0 7px #080a52;
    cursor: pointer;
}

.history {
    background: url('../Picture/history.jpg');
    position: absolute;
    justify-content: center;
    display: flex;
    top: 180px;
    margin-top: 1100px;
    padding: 20px 20px;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translateY(150px); */
    border: 1px solid #141A46;
    border-radius: 20px;
    height: 330px;
    width: 510px;
}

.history .infoHis {
    text-align: left;
    margin-left: 10px;
    width: 100%;
    color: #ACA53D;
}

.history h2 {
    font-size: 40px;
}

/* --- About page ---  */


.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
}

.text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 25px;
}

.responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainImg {
    color: black;
    width: 55%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.text-blk.headingText {
    font-size: 48px;
    font-weight: 700;
    line-height: 34px;
    color: #1f003b;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    width: 40%;
    margin: 0 0 0 0;
}

.text-blk.subHeadingText {
    color: rgb(102, 102, 102);
    font-size: 25px;
    line-height: 34px;
    font-weight: 700;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
}

.text-blk.description {
    font-size: 25px;
    line-height: 34px;
    color: rgb(102, 102, 102);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.explore {
    font-size: 20px;
    line-height: 28px;
    color: rgb(255, 255, 255);
    background-color: #a993ff;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #a993ff;
    border-right-color: #a993ff;
    border-bottom-color: #a993ff;
    border-left-color: #a993ff;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    cursor: pointer;
}

.explore:hover {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    /* background-repeat-x: initial;
    background-repeat-y: initial; */
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(244, 234, 255);
    color: #a993ff;
}

.responsive-container-block.Container {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.responsive-container-block.Container.bottomContainer {
    margin-top: 100px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    flex-direction: row-reverse;
    margin: 100px auto 50px auto;
}

.allText.aboveText {
    margin: 0 0 0 40px;
}

.allText.bottomText {
    margin: 0 40px 0 0;
}

@media (max-width: 1024px) {
    .responsive-container-block.Container {
        max-width: 850px;
    }

    .mainImg {
        width: 55%;
        height: auto;
    }

    .text-blk.description {
        font-size: 20px;
    }

    .allText {
        width: 40%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 20px;
    }

    .responsive-container-block.bigContainer {
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .text-blk.subHeadingText {
        font-size: 22px;
    }

    .responsive-container-block.Container.bottomContainer {
        margin: 80px auto 50px auto;
    }

    .responsive-container-block.Container {
        max-width: 830px;
    }

    .allText.aboveText {
        margin: 30px 0 0 40px;
    }

    .allText.bottomText {
        margin: 30px 40px 0 0;
    }
}

@media (max-width: 768px) {
    .mainImg {
        width: 90%;
    }

    .allText {
        width: 100%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .responsive-container-block.Container {
        flex-direction: column;
        height: auto;
    }

    .text-blk.headingText {
        text-align: center;
    }

    .text-blk.subHeadingText {
        text-align: center;
        font-size: 25px;
    }

    .text-blk.description {
        text-align: center;
        font-size: 25px;
    }

    .allText {
        margin-top: 40px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .allText.aboveText {
        margin: 40px 0 0 0;
    }

    .responsive-container-block.Container {
        margin: 80px auto 50px auto;
    }

    .responsive-container-block.Container.bottomContainer {
        margin: 50px auto 50px auto;
    }

    .allText.bottomText {
        margin: 40px 0 0 0;
    }
}

@media (max-width: 500px) {
    .responsive-container-block.Container {
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        width: 100%;
        max-width: 100%;
    }

    .mainImg {
        width: 100%;
    }

    .responsive-container-block.bigContainer {
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 10px;
        padding-left: 25px;
    }

    .text-blk.subHeadingText {
        font-size: 25px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .text-blk.description {
        font-size: 25px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .allText {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .allText {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .responsive-container-block.Container {
        flex-direction: column;
        height: auto;
    }

    .text-blk.headingText {
        text-align: center;
    }

    .text-blk.subHeadingText {
        text-align: center;
        font-size: 24px;
    }

    .text-blk.description {
        text-align: center;
        font-size: 18px;
    }

    .allText {
        margin-top: 40px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .allText.aboveText {
        margin-top: 40px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .responsive-container-block.Container {
        margin-top: 80px;
        margin-right: auto;
        margin-bottom: 50px;
        margin-left: auto;
    }

    .responsive-container-block.Container.bottomContainer {
        margin-top: 50px;
        margin-right: auto;
        margin-bottom: 50px;
        margin-left: auto;
    }

    .allText.bottomText {
        margin-top: 40px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .mainImg {
        width: 100%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: -70px;
        margin-left: 0px;
    }

    .responsive-container-block.Container.bottomContainer {
        flex-direction: column;
    }

    .ultimateImg {
        width: 100%;
    }

    .purpleBox {
        position: static;
    }

    .allText.bottomText {
        width: 100%;
        align-items: flex-start;
    }

    .text-blk.headingText {
        text-align: left;
    }

    .text-blk.subHeadingText {
        text-align: left;
    }

    .text-blk.description {
        text-align: left;
    }

    .ultimateImg {
        position: static;
    }

    .mainImg {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .ultimateImg {
        position: relative;
    }

    .purpleBox {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        position: absolute;
        left: 0px;
        top: 80%;
    }

    .allText.bottomText {
        margin-top: 100px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width: 500px) {
    .responsive-container-block.Container {
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        width: 100%;
        max-width: 100%;
    }

    .mainImg {
        width: 100%;
    }

    .responsive-container-block.bigContainer {
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 10px;
        padding-left: 25px;
    }

    .text-blk.subHeadingText {
        font-size: 24px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        line-height: 28px;
    }

    .text-blk.description {
        font-size: 16px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        line-height: 22px;
    }

    .allText {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        width: 100%;
    }

    .allText.bottomText {
        margin-top: 50px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding: 0 0 0 0;
        margin: 30px 0 0 0;
    }

    .ultimateImg {
        position: static;
    }

    .purpleBox {
        position: static;
    }

    .stars {
        width: 55%;
    }

    .allText.bottomText {
        margin-top: 75px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .responsive-container-block.bigContainer {
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
    }

    .purpleText {
        font-size: 16px;
        line-height: 22px;
    }

    .explore {
        padding: 6px 35px 6px 35px;
        font-size: 15px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
    justify-content: center;
}

.column {
    width: 100%;
    padding: 0.5em 0;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #1f003b;
}

.card {
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: #1f003b;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff;
}

.card .img-container {
    width: 250px;
    height: 250px;
    background-color: #a993ff;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
}

.card img {
    width: 100%;
    border-radius: 50%;
}

.card h3 {
    font-weight: 500;
    font-size: 28px;
}

.card p {
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
}

.icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.icons i {
    font-size: 36px;
    /* Adjust the font size as needed */
}

.card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
}

.card:hover {
    background: linear-gradient(#6045ea, #a993ff);
    color: #ffffff;
}

.card:hover .img-container {
    transform: scale(1.15);
}

@media screen and (min-width: 768px) {
    section {
        padding: 1em 7em;
    }
}

@media screen and (min-width: 992px) {
    section {
        padding: 1em;
    }

    .card {
        padding: 5em 1em;
    }

    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1em;
    }
}

/* --- editFile page --- */
.edit {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: transparent;
}

.edit .wrapper {
    width: 420px;
    height: 550px;
    background: transparent;
    color: #141A46;
    border-radius: 10px;
    padding: 30px 30px;
    border: 2px solid #141A46;
}

.edit .wrapper h1 {
    font-size: 30px;
    text-align: center;
}

.edit .wrapper .infoEdit {
    width: 100%;
    /* height: 50px; */
    background: transparent;
    margin: 30px 0;
}

.edit .wrapper input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #141A46;
    border-radius: 20px;
    font-size: 20px;
    color: #141A46;
    padding: 20px 45px 20px 10px;
}

.edit .wrapper input::placeholder {
    color: #141A46;
    font-size: 18px;
}

.edit .wrapper .editBut {
    width: 100%;
    height: 45px;
    /* background: #0e0e2e; */
    border: none;
    outline: none;
    border-radius: 40px;
    /* box-shadow: 0 0 5px black; */
    font-size: 20px;
    color: white;
    background: #0e0e2e;
    font-weight: 600;
}

.edit .wrapper .editBut:hover {
    background: white;
    color: #0e0e2e;
}


/* uploadBook page */
#uploadBtn {
    position:relative;
    width: 300px;
    height: 35px;
    background: #080a52;
    color: white;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 5px black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    /* right: 50px; */
}

#uploadBtn:hover {
    box-shadow: 0 0 10px #010108;
    cursor: pointer;
}

.uploadBook {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent;
}

.uploadBook .wrapper {
    width: 100%;
    max-width: 600px;
    /* Đặt giá trị tối đa cho chiều rộng */
    background: transparent;
    color: #141A46;
    border-radius: 10px;
    padding: 30px 30px;
    border: 2px solid #141A46;
}

.uploadBook .wrapper h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.uploadBook .wrapper .infoUpload {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.uploadBook .wrapper .infoUpload label {
    display: inline-block;
    width: 300px;
    /* Điều chỉnh độ rộng của nhãn nếu cần thiết */
    vertical-align: middle;
    margin-right: 10px;
    font-size: 20px;
    /* Điều chỉnh kích thước chữ nếu cần thiết */
    font-weight: bold;
}

.uploadBook .wrapper input {

    width: 100%;
    height: 50px;
    background: transparent;
    outline: none;
    border: 2px solid #141A46;
    border-radius: 20px;
    font-size: 20px;
    color: #141A46;
    padding: 20px 45px 20px 10px;
    /* justify-content: center; */
    margin-left: 5px;
}

#thumbnailInput {
    border: none;
    outline: none;
}

.uploadBook .wrapper .uploadBut {
    width: 100%;
    height: 45px;
    /* background: #0e0e2e; */
    border: none;
    outline: none;
    border-radius: 40px;
    /* box-shadow: 0 0 5px black; */
    font-size: 20px;
    color: white;
    background: #0e0e2e;
    font-weight: 600;
}

.uploadBook .wrapper .uploadBut:hover {
    background: white;
    color: #0e0e2e;
}




.uploadBook .wrapper input::placeholder {
    color: #141A46;
    font-size: 18px;
}

.uploadBook .wrapper textarea {
    width: 100%;
    height: 100px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #141A46;
    border-radius: 20px;
    font-size: 20px;
    color: #141A46;
    padding: 20px 45px 20px 10px;
}

/* Book page  */

.bookPage {
    margin-left: 80px;
    margin-right: 50px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.bookPage img {
    margin: 50px 30px;
    height: 500px;
    width: auto;
    border: 1px solid rgb(98, 98, 98);
    border-radius: 5%;
    /* position: sticky; */
    /* padding-top: 0%; */
}

.bookPage .bookInfo h1 {
    font-size: 25px;
    /* font-weight: lighter; */
}

.bookPage .bookInfo h2 {
    font-size: 40px;
    font-weight: lighter;
}

.bookPage .bookInfo h3 {
    font-size: 25px;
    font-weight: lighter;
}

.bookPage .bookInfo h4 {
    font-size: 25px;
    font-weight: lighter;
}

.bookPage .bookInfo {
    border: 1px solid rgb(98, 98, 98);
    border-radius: 10px;
    background-color: white;
    /* line-height: 2; */
    /* margin-bottom: 50px; */
    padding: 10px 20px;
    /* font-weight: lighter; */
    width: 600px;
    margin: 150px 30px;
    /* position: sticky; */
}

.bookPage .bookInfo>* {
    margin-bottom: 30px;
    color: #080a52;
}

.bookPage .bookSellers {
    max-height: 500px;
    width: 350px;
    overflow: scroll;
    border: 1px solid rgb(98, 98, 98);
    border-radius: 10px;
    background-color: white;
    /* line-height: 2; */
    margin-left: 30px;
    padding: 10px 20px;
    /* font-weight: lighter; */
    justify-content: start;
}

.bookPage .bookSellers::-webkit-scrollbar {
    display: none;
}

.bookSellers .oneBookSeller {
    border-bottom: 1px solid rgb(98, 98, 98);
    padding: 5px 0;
}

.bookSellers .oneBookSeller .buttonBook {
    display: flex;
    justify-content: space-between;
    /* padding: 0 10px; */
}

.bookSellers .oneBookSeller .buttonBook a {
    width: 100px;
    height: 45px;
    /* background: #0e0e2e; */
    /* border: none; */
    outline: none;
    /* border-radius: 40px; */
    /* box-shadow: 0 0 5px black; */
    margin: 5px 5px;
}

.bookSellers .oneBookSeller .buttonBook button {
    font-size: 18px;
    height: 100%;
    width: 100px;
}

.bookSellers .oneBookSeller .buttonBook .button1 {
    color: #0e0e2e;
    background: white;
    /* border-color: #0e0e2e; */
}

.bookSellers .oneBookSeller .buttonBook .button2 {
    color: #0e0e2e;
    background: white;
}

.bookSellers .oneBookSeller .buttonBook .button1:hover {
    color: white;
    background: #001c44;
    cursor: pointer;
}


.bookSellers .oneBookSeller .buttonBook .button2:hover {
    color: white;
    background: #001c44;
    cursor: pointer;
}

.bookSellers .oneBookSeller .buttonBook .bx-comment-error {
    /* margin: 5px 5px; */
    width: 45px;
    height: 45px;
    line-height: 50px;
    /* border-radius: 50%; */
    background-color: transparent;
    font-weight: 1000;
    color: #001c44;
    border: 1px solid #001c44;
    margin-left: 5px;
    /* bottom: 8px;
    right: 0px; */
}

.bookSellers .oneBookSeller .buttonBook .bx-comment-error:hover {
    background: #001c44;
    color: white;
}

.bookSellers .oneBookSeller .buttonBook .bx-comment-error::before {
    /* position: absolute; */
    /* justify-content: center; */
    /* text-align: center; */
    margin-left: 14px;
}