.navbar
{
    background: transparent;
    color: white;
}

.reportSite
{
    margin: 50px 50px;
    /* border: 2px solid rgb(26, 26, 26); */
}

.oneReport
{
    border: 5px solid rgb(26, 26, 26);
    margin-bottom: 30px;
    /* background: white; */
}

.oneReport .reportInfo
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 100px;
    padding: 10px 0;
    border-bottom: 2px solid rgb(26, 26, 26);
}

.oneReport .reportInfo a
{
    text-decoration: none;
    color: #141A46;
}

.oneReport .reportInfo a:hover
{
    text-decoration: underline;
}

.oneReport .reason
{
    margin: 10px 100px;
    padding: 10px 0;
    border-bottom: 2px solid rgb(26, 26, 26);
}

.oneReport .reportAction
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 100px;
    padding: 10px 300px;
}


.action label
{
    font-weight: bold;
}

.action
{
    position: relative;
    display: flex;
    line-height: 1.5;
}

.action::after
{
    position: absolute;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.action:hover:after
{
    color: #0e0e2e;
}

.action select
{
    width: 125px;
    height: 25px;
    align-items: center;
    color: #0e0e2e;
    border: 1px solid rgb(26, 26, 26);
    border-radius: 10px;
    font-size: 15px;
    flex: 1;
    padding: 0 .5em;
    cursor: pointer;
}

.action select option
{
    font-size: 14px;
    /* align-items: center; */
    border: 1px solid rgb(26, 26, 26);
    border-radius: 10px;
}

.action select::-ms-expand
{
    display: none;
}

.action button {
    border: 1px solid rgb(26, 26, 26);
    border-radius: 10px;
    font-size: 18px;
    height: 100%;
    width: 100px;
    color: #0e0e2e;
    background: white;
}

.action button:hover {
    color: white;
    background: #001c44;
    cursor: pointer;
}